<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ger&auml;teliste</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Ger&auml;te</h2>
    <p>
        <a class="btn btn-primary" th:href="@{/reservation/add}">Reservierung erfassen</a>
        <a class="btn btn-default" th:href="@{/}">Zur Startseite</a>
    </p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Bezeichnung</th>
            <th>Art</th>
            <th>Standort</th>
            <th>Reservierungen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${devices}">
            <td th:text="${d.id}"></td>
            <td th:text="${d.name}"></td>
            <td th:text="${d.type}"></td>
            <td th:text="${d.location}"></td>
            <td>
                <a th:href="@{/reservation/list/{id}(id=${d.id})}">Liste anzeigen</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
